<div class="container">
<h1>Stupid Coaching</h1>
<br>
<form action="/answer" data-turbo="false">
<div class="form-group">
  <label for="question" class="mb-3">Ask your coah anything</label>
  <div class="input-group mb-3">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</div>
</form>
</div>
